.banner__section {
    margin-top: 70px;
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-auto-rows: 350px;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-content: center;
}
.banner__content {
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 100%;
    width: 100%;
    margin-top: 25px;
    transition: background-size 500ms ease;
    background-color: #f6f6f6;
    color: black;
    cursor: pointer;
    padding: 50px;
}
.banner__content:hover {
  transition: 300ms;
  transition-duration: 300ms;
  color: #f51c1c;
}
.banner__content--two {
    grid-row: span 2;
}
.banner__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 300ms ease;
    z-index: 1;
}
.banner__content--one:before {
    background-image: url(../public/banner1.webp);

}
.banner__content--two:before {
    background-image: url(../public/banner3.webp);
}
.banner__content--three:before {
    background-image: url(../public/banner2.webp);
}
.banner__content--four:before {
    background-image: url(../public/banner4.webp);
}
.banner__content--five:before {
    background-image: url(../public/banner5.webp);
}
.banner__content:hover::before {
  transform: scale(1.05);
}
.banner__content > * {
  position: relative;
  z-index: 2;
}

.banner__text {
  height: 100%;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.banner__text--one{
  justify-content: center;
  text-align: left;
}
.banner__text--one > * {
  margin-left: auto;
}
.banner__text--two{
  align-items: start;
  justify-content: center;
}
.banner__text--three {
  margin-top: 15%;
}
.banner__text--four {
  align-items: center;
}
.banner__text--five {
  justify-content: center;
  text-align: left;
}
.banner__text--five > * {
  margin-left: auto;
}
.banner__line {
  display: flex;
  align-items: center;
}
.banner__line--black {
  display: block;
  width: 4px;
  height: 4px;
  background-color: black;
}
.banner__line--red {
  display: block;
  width: 104px;
  height: 2px;
  background-color: red;
}

@media (max-width: 800px) {
  .banner__section {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 250px;
    gap: 5px;
  }
  .banner__content--two {
      grid-row: span 1;
  }
  .banner__text {
    font-size: 24px;
  }
}

@media (max-width: 400px) {

  .banner__text {
    font-size: 18px;
  }
}
