.intro {
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro__body {
    max-width: 100%;
    width: 100%;
    position: relative;
}


.intro__swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    height: 100%;
}

.slide__content {  
    height: 100%;
    box-sizing: border-box;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 150px 150px;
}
.slide__content-body {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.swiper-slide-active .slide__content-body {
    opacity: 1;
    transform: translateY(0);
}

.slide__content-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.slide__content-body--mod {
    align-items: center;
}

.slide__content--one {
    background-image: url('../public/intro-slider1.png');
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}
.slide__content--two {
    background-image: url('../public/intro-slider2.png');
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
}
.slide__content--three {
    background-image: url('../public/intro-slider3.png');
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.slide__subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    gap: 25px;
}
.slide__subtitle--pos {
    display: inline-block;
    width: 70px;
    height: 10px;
    border-top: 1px white solid;
    position: relative;
    top: 5px;
}

.slide__title {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: bold;
    gap: 5px;
}
.slide__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.slide__button {
    font-size: 18px;
    font-weight: medium;
    background-color: white;
    border-radius: 4px;
    display: inline-block;
     width: fit-content;
    padding: 20px 40px;
    white-space: nowrap;
}
.slide__button:hover {
    animation-duration: 300ms;
    transition: 300ms;
    background-color: #121A25;
    color: white;
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}


.swiper-button-hover {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.intro__body:hover .swiper-button-hover {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1024px) {

    .intro__swiper {
        height: 400px;
    }
    .slide__content {  
        padding: 50px 50px;
    }

    .slide__title {
        font-size: 32px;
    }

}

@media (max-width: 740px) {
    .intro__swiper {
        height: 400px;
    }

    .slide__title {
        font-size: 32px;
    }
    .slide__content--two {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .slide__content {  
        padding: 25px 25px;
    }    
    .intro__swiper {
        height: 400px;
    }
    .slide__subtitle--pos {
        display: none;
    }
    .slide__title {
        font-size: 32px;
    }
    .slide__content--one {
        text-align: center;
        align-items: center;
    }
    .slide__content--two {
        align-items: center;
    }
    .slide__content--three {
        text-align: center;
        align-items: center;
    }
    .slide__content-body {
        align-items: center;
    }
}
